body{
    background-image: url(../images/board_black_line_texture_background_wood_55220_1920x1080.jpg);
    font-size:20px;
    color:white;
}
ul{
    list-style-type: none;
}
header{
    height:60px;
    /*background-color: white;*/
    /*position: fixed;*/
    width: 100%;
    background-color: transparent;
}
header .container{
    position: relative;
   text-align:center;
    margin-right:40px;
}
header .container button{
    margin-top:10px;
    float: right;
    margin-left:20px;
   background-color:#99d6ff;
    height: 40px;
    width:auto;
    border-radius:10px;
}
#logo{
    position: absolute;
    height: 60px;
    width:200px;
    
}
#main-container{
    width:400px;
    height: auto;
    float: right;
    margin-right: 88px;
    /* border-style:dotted;
    border-color:black;
    border-width:2px; */
   margin-top:80px;
   margin-bottom:100px;
   border: 2px dashed #046ca3;
   border-radius:10px;
	
}
#main-container *{
    margin:10px;
}

#main-container #submit{
    margin-top:10px;
    float: left;
    margin-left:20px;
    color:white;
   background-color:#00264d;
    height: 60px;
    width:120px;
     border-radius:30px;
     border-bottom-color: white;

}
#main-container input{
    width:300px;
    height: 30px;;
    margin-bottom:20px;
    border-radius:10px;
}

label::after { 
    content: "*";
    position: absolute;
    color: red;
    z-index: 10000;
}
img{
    position: fixed;
}