main .profile-container{
    width:500px;
    margin:0 auto;    
    margin-top:30px;
     padding: 30px;
    padding-bottom: 60px;
     border: 2px dashed #046ca3;
   border-radius:10px;
}
p{
    font-size:40px;
    text-align:center;
    margin:30px;
}
main div label{
    width: 150px;
    display:inline-block;
    margin:10px;
}
input{
    margin:10px;
    background-color: #99d6ff;
    border-style: none;
    
}
button{
   
    float: left;
    margin-left:20px;
   background-color:#00264d;
   color:white;
    height: 50px;
    width:auto;
    border-radius:5px;
}