main .profile-container{
    width:350px;
    margin:0 auto;    
    margin-top:30px;
     padding: 30px;
    padding-bottom: 60px;
   
   border-radius:10px;

    background-color:  rgba(0, 0, 0, 0.2);
  width:400px;
  height: auto;
 
   margin-bottom:100px;
 border-radius:5px;
}

h1{

 font-size: 50px;
 font-family: 'Rammetto One', cursive;   
 text-shadow: 2px 2px #00264d;
}
p{
    font-size:40px;
    text-align:center;
    margin:30px;
}
label{
    width: 150px;
    display:inline;
    margin:10px;
}
main div input{
    display:block;
}

button{
   
    float: left;
    margin-left:20px;
   background-color:#00264d;
   color:white;
    height: 50px;
    width:auto;
    border-radius:5px;
}

input{

     width:330px;
    height: 35px;;
    margin-bottom:20px;
    border-radius:10px;
}